body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
}
.top1
{
    font-size: 50px;
    color: azure;
}
.top3{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: azure;
    font-weight: 300
}
h1{
    font-size: 50px;
}
h4{
    color:azure;
    font-size: 20px;
    font-weight: 300;
}
.name{
    color: crimson;
}
section{
    display: flex;
}
.top-banner{
   
    display: flex;
    background-size:cover;
    height:1000px ;
    background-attachment: fixed;
    background-image: url(images/laptop-cup.jpg);
    background-repeat: no-repeat;
    
}
.intro{
    padding: 10%;
    width: 50%;
}
.intro img{
    
    width: 90%;
}
.topp{
    color: rgb(212, 211, 211);

}
.btn{
    text-decoration: none;
    padding: 7px;
    background-color:crimson;
    color: white;
    font-size: 12px;
    
}
section{
    display: flex;
}  
.foot{
    text-align: center;
    padding: 100px;
    background-color: rgb(247, 38, 118);
    color: white;
    font-weight: 400;
} 
    
a{
    text-decoration: none;
    color: rgb(248, 248, 248);
} 
ul{
 list-style: none;
}
nav{
    width: 100%;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background-color: black;
    
}
nav ul{
    display: flex;
}
nav ul li{
    padding: 30px;
}
.logo{
    font-weight: 300;
    font-size: 20px;
    font-family: sans-serif;
}

